@import 'src/styles/colors';

:host {
  width: 520px;
  max-width: 40vw;
  min-height: 500px;
  max-height: 90vh;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  background-color: #fff;
  border-radius: 8px;

  .card-title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-subtitle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    .card-title-icon {
      display: flex;
    }

    .card-title-subtitle {
      color: $grey3;
    }
  }

  .card-action {
    button {
      display: inline-block;
      width: 100%;
      padding: 15px 0;
      color: $white;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: 8px;
      background-color: $aegro;

      &:hover {
        filter: brightness(1.05);
      }
    }
  }
}
